# =====================
# BACKEND (.NET)
# =====================
be/**/bin/
be/**/obj/
be/.vs/

# =====================
# FRONTEND (React)
# =====================
fe/node_modules/
fe/dist/
fe/build/

# =====================
# ENV
# =====================
.env
.env.*

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# LOG
# =====================
*.log