# =====================
# BACKEND (.NET)
# =====================
IMS_BE/**/bin/
IMS_BE/**/obj/
IMS_BE/.vs/
IMS_BE/IMS.Infrastructure/Persistence/SeedData.cs

# =====================
# FRONTEND (React)
# =====================
ims-fe/node_modules/
ims-fe/dist/
ims-fe/build/

# =====================
# ENV
# =====================
.env
.env.*

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# LOG
# =====================
*.log